<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr />

    <div class="container-fluid">
      <div class="row">
        <!-- Loop over the collection of products -->
        <div
          *ngFor="let product of products"
          class="col-lg-3 col-md-4 col-sm-6"
        >
          <div class="product-box">
            <a routerLink="/products/{{ product.id }}">
              <img
                src="{{ product.imageUrl }}"
                alt="{{ product.name }}"
                class="product__img-item img-responsive"
              />
            </a>

            <a
              routerLink="/products/{{ product.id }}"
              style="display: block; margin: 0 auto; text-align: center"
            >
              <h1>
                {{ product.name }}
              </h1>
            </a>

            <div class="product__price">
              <div class="price">
                {{ product.unitPrice | currency: "USD" }}
              </div>
              <button
                class="btn btn-primary btn-sm"
                (click)="addToCart(product)"
              >
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <!-- If products empty then display a message -->
        <div
          *ngIf="products?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
          style="text-align: center; font-size: 50px"
        >
          No products found !
        </div>
      </div>

      <!-- Begin: Pagination -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 22%">
                <!-- Use ng bootstrap -->
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()"
                >
                </ngb-pagination>
              </div>

              <div class="col-md-3" style="text-align: right">
                <span class="mr-2">Page Size</span>
                <select
                  name=""
                  id="page-size-select"
                  class="px-2"
                  style="border-radius: 5px"
                  (change)="updatePageSize($event || 5)"
                >
                  <option value="5">5</option>
                  <option value="10" selected="true">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End: Pagination -->
    </div>
  </div>
</div>
